/* SEARCH */
#livesearch {
    position: absolute;
    width: 50%; 
    background: white;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid gray;
    /*This is relative to the navbar now*/
    left: 8px;
    right: 0;
    top: 40px;
}
.search {
  width: 400px;
}

.srch {
  height:30px;
}

/* N PROGRESS BAR */
#nprogress .bar {
    height: 5px !important;
/*    background: red !important;*/
}

/*#nprogress .spinner-icon {
  border-top-color: red !important;
  border-left-color: red !important;
}*/

.navbar {
  height:40px;
}

.headnavlink {
  display: inline-block;
  line-height: 20px;
  color: #fff;
  padding: 15px;
}

.headnavlink a:hover {
  color: #C0C0C0;
}
.headnavlink a:link {
  color: #fff;
}
.headnavlink a:visited {
  color: #fff;
}



.nv-lnk:hover {
  color: #C0C0C0;
}

body {
  padding-top: 70px;
}

.vert-sm {
  font-size: 0.8rem;
  vertical-align: middle
}

.sm-text {
  font-size: 0.7rem !important;
}


.ql-editor {
  min-height: 300px
}

.featured-image {
  width: 100%;
  max-height: 800px;
  object-fit: cover
}

/* Text on Image Headers */
.img-text{
  font-size: 3rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}



/* || SIDENAV */

.sn-lt {
  color: #fff;
  font-family: 'Verdana', sans-serif;
  font-size: 1rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sn-lt a {
  color: #C0C0C0;
  text-decoration: none;
}

.sn-lt a:hover {
  color:#fff;
}

/* || LANDING PAGE  */

.lp-lt {
  color: #fff;
  font-family: 'Verdana', sans-serif;
  font-size: 1rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.lp-lt a {
  color: #0275d8;
  text-decoration: none;
}

.lp-lt a:hover {
  text-decoration: underline;
}


/* || TABLET PORTRAIT */

@media screen and (max-width: 768px) {
    .search { width: 120px; }
}

/**
 * card 
 */

.flip {
    position: relative;
}
.flip > .front,
.flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
}
.flip > .front {
    transform: rotateY(0deg);
}
.flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
}
.flip:hover > .front {
    transform: rotateY(180deg);
}
.flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
    transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
    transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
    transform: rotateX(0deg);
}
.flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 100%;
    /*width: 400px;*/
}
.flip > .front,
.flip > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 220px;
    padding: 1em 2em;
    background: #313131;
    border-radius: 10px;
}
.flip > .front p,
.flip > .back p {
    font-size: 0.9125rem;
    line-height: 160%;
    color: #999;
}
.text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04),
        4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04),
        7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04),
        0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04),
        13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04),
        16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04),
        19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

/* \\ FOOTER TEMPLATE // */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
/*  color:#3366cc;*/
  color: #0275d8;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#fff;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
.copyright-text a:hover {
  color:#fff;
}
@media (max-width:991px)
{
  .site-footer [className^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
